html {
    background-color: #ebfbf8;
    font-family: 'Roboto Mono', monospace;

}

body {
    margin: 15px auto;
    width: 90%;
    background-color: #f4f4f4;
    box-sizing: border-box;
}


section {
    border: 1px solid #8f8f8f;
    padding: 5px 10px 5px 10px;
}


.top-bar-text {
    text-align: center;
}

i {
    padding: 5px;
}

.cancel-icon {
    cursor: pointer;
    border-left: 1px solid #8f8f8f;
    margin-left: 5px;
}
.cancel-icon:hover {
    color: red;
}

.middle-bar-recipients-title, .middle-bar-subject-title, .bottom-bar-message-title {
    color: #8f8f8f;
}

.middle-bar-recipients, .middle-bar-subject {
    display: flex;
    
}

.middle-bar-recipients-ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    padding-left: 10px;
}
.middle-bar-recipients-ul li, .middle-bar-subject-value, .bottom-bar-message-value {
    font-weight: bold;
}

.middle-bar-recipients-ul li {
    border: 1px solid #8f8f8f;
    border-radius: 7px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 3px;
    font-size: 14px;
}


.middle-bar-subject-value {
    padding-left: 10px;
    word-wrap: break-word;
    width: 100%;
    max-width: 100%; /* Set to 100% to allow the input to take the full width */
    word-break: break-all; 
}

.button-container {
    text-align: center;
    border: 1px solid #8f8f8f;

}

.send-email-button, .cancel-button {
    color: black;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border: 1px solid #8f8f8f;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
}

.send-email-button:hover {
    background-color: blanchedalmond;
}

.cancel-button:hover {
    background-color: red;
}

input, textarea {
    border: none;
    background: transparent;
}
textarea {
    resize: none;
    padding: 0;
    font-size: 16px;
    width: 100%;
    font-family: 'Roboto Mono', monospace;

}

textarea:disabled {
    color: black;
}

input:focus, textarea:focus{
    outline: none;
}

#add-recipient {
    cursor: pointer;
}