html {
    background-color: #ebfbf8;
    font-family: 'Roboto Mono', monospace;

}

body {
    margin: 15px auto;
    width: 90%;
    background-color: #f4f4f4;
    box-sizing: border-box;

}


section {
    border: 1px solid #8f8f8f;
    padding: 5px 10px 5px 10px;
}


.top-bar-text {
    text-align: center;
}

i {
    padding: 5px;
}

.middle-bar-username, .middle-bar-password, .middle-bar-apikey {
    display: flex;
}

.middle-bar-username-title, .middle-bar-password-title, .middle-bar-apikey-title {
    color: #8f8f8f;
}

.middle-bar-username-value, .middle-bar-password-value, .bottom-bar-apikey-value {
    font-weight: bold;
}

.middle-bar-apikey-value {
    width: 100%;
}

.button-container {
    text-align: center;
    border: 1px solid #8f8f8f;

}

#save-button {
    color: black;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border: 1px solid #8f8f8f;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
}

#save-button:hover {
    background-color: blanchedalmond;
}

input {
    border: none;
    font-size: 16px;
    background: transparent;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;

}

input:focus {
    outline: none;
}

.success-message {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.error-message {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}