body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  .browse-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc; /* Border for the entire browse bar */
    border-radius: 4px;
  }

  .folder-icon {
    font-size: 24px;
    margin-right: 5px; /* Adjusted margin for the folder icon */
    background-color: silver; /* Silver background for the icon */
    padding: 8px;
    border-radius: 50%; /* Rounded corners for the icon */
  }

  .line {
    height: 32px;
    border-left: 1px solid #ccc;
    margin-right: 5px; /* Adjusted margin for the line */
    margin-left: 5px; /* New margin for the line */
  }

  .text-label {
    margin-right: 5px; /* Adjusted margin for the text label */
    margin-left: 5px; /* New margin for the text label */
    color: #555;
  }

  .right-line {
    height: 32px;
    border-left: 1px solid #ccc;
    margin-left: 5px; /* New margin for the right line */
  }

  #browseButton {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .monitoring {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc; /* Border for the entire browse bar */
    border-radius: 4px;
    display: none;
  }
  #startMonitoringButton {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #stopMonitoringButton {
    padding: 8px 16px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: none;
  }
  .monitoring-label {
    margin-right: 5px; /* Adjusted margin for the text label */
    margin-left: 5px; /* New margin for the text label */
    color: #555;
  }
  #monitoringIcon {
    margin-right: 5px; /* Adjusted margin for the icon */
    font-size: 20px; /* Adjust the font size as needed */
}

#fileTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#fileTable th, #fileTable td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#fileTable th {
  background-color: #f2f2f2;
}

#fileTableBody tr:hover {
  background-color: #f5f5f5;
}

.preview-button {
  border: none;
  cursor: pointer;
}