html {
    background-color: #ebfbf8;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 15px auto;
    width: 70%;
    background-color: #f4f4f4;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    

}


section {
    border: 1px solid #8f8f8f;
    padding: 5px 10px 5px 10px;
}


.top-bar-text {
    text-align: center;
}

i {
    padding: 5px;
}

.cancel-icon {
    cursor: pointer;
    border-left: 1px solid #8f8f8f;
    margin-left: 5px;
}
.cancel-icon:hover {
    color: red;
}

.middle-bar-recipients-title, .middle-bar-subject-title, .bottom-bar-message-title {
    color: #8f8f8f;
}

.middle-bar-recipients, .middle-bar-subject {
    display: flex;
    
}

.middle-bar-recipients-ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    padding-left: 10px;
}
.middle-bar-recipients-ul li, .middle-bar-subject-value, .bottom-bar-message-value {
    font-weight: bold;
}

.middle-bar-recipients-ul li {
    border: 1px solid #8f8f8f;
    border-radius: 7px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 3px;
}


.middle-bar-subject-value {
    padding-left: 10px;
    word-wrap: break-word;
    max-width: calc(100% - 100px);
}

.button-container {
    text-align: center;
    background-color: #ebfbf8;
}

.send-email-button {
    background-color: transparent;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #8f8f8f;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.send-email-button:hover {
    background-color: #007bff;
}


